#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 93dvh;
  background-color: #EFF6EE;
  color: #EFF6EE;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
  margin-top: 80px;
}
#video-view{
  position: relative;
  width:88%;
  max-width: 1100px;
}
#mobile-video-view{  
  display: none;
  position: relative;
  width:75vw;
  min-width: 400px;
  height: 75vh;
  max-width: 650px;
  max-height: 550px;
}
#homevid{
  width: 100%;
  max-width: 1100px;
  height: auto;
  border-radius: 20px;
  pointer-events: none;
}
#mobile-homevid{
  width: 100%;
  max-width: 1300px;
  height: 100%;
  max-height: 800px;
  border-radius: 20px;
  object-position: center;
  object-fit: cover;
  pointer-events: none;
}
#mobile-homevid::-webkit-media-controls, #homevid::-webkit-media-controls{
  display: none;
  pointer-events: none;
}
#learn-btn{
  background-color: #FDB0B1;
  font-weight: 800;
  font-size: clamp(10px, 2.3vw, 21px);
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#learn-btn:hover{
  background-color: #ffa7a8;
}
#learn-btn-2{
  background-color: #FDB0B1;
  font-weight: 800;
  font-size: clamp(17px, 3vw, 23px);
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#learn-btn-2:hover{
  background-color: #f29192;
}
@media screen and (max-width: 800px) { 
  #video-view {
    display: none;
  }
  #mobile-video-view {
    display: inline-block;
  }
}
