#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height:100%;
  background-color: #EFF6EE;
  color: #EFF6EE;
  scroll-margin-top: 80px;
  margin-top: 80px;
  scroll-snap-align: start;
}
#video-view{
  position: relative;
  width:88%;
  max-width: 1300px;
}
#mobile-video-view{  
  display: none;
  position: relative;
  width:88%;
  max-width: 800px;
}
#homevid{
  width: 100%;
  max-width: 1300px;
  height: auto;
  border-radius: 20px;
  pointer-events: none;
}
#mobile-homevid{
  width: 100%;
  max-width: 1300px;
  height: 100vw;
  border-radius: 20px;
  object-position: center;
  object-fit: cover;
  pointer-events: none;
}
#learn-btn{
  background-color: #FDB0B1;
  font-weight: 800;
  font-size: clamp(10px, 2.3vw, 21px);
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#learn-btn:hover{
  background-color: #ffa7a8;
}
#learn-btn-2{
  background-color: #FDB0B1;
  font-weight: 800;
  font-size: clamp(17px, 3vw, 23px);
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#learn-btn-2:hover{
  background-color: #f29192;
}
#projects {
  position: relative;
  text-align: center;
  height:93vh;
  background-color: #EFF6ED;
  overflow: hidden;
  scroll-margin-top: 80px;
  scroll-snap-align: start;
}
#projects2 {
  position: relative;
  text-align: center;
  height:93vh;
  background-color: #3C3744;
  overflow: hidden;
  scroll-margin-top: 80px;
  scroll-snap-align: start;
}

.section-title{
  width:28vw;
  min-width: 280px;
  max-width: 450px;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  height:93vh;
  background-color: #EFF6ED;
  overflow: hidden;
  scroll-margin-top: 80px;
  scroll-snap-align: start;
}
#about-words {
width: 50vw;
min-width: 270px;
max-width: 600px;
}
#contact {
  text-align: center;
  height:93vh;
  background-color: #EFF6ED;
  padding: 10px;
  scroll-margin-top: 80px;
  scroll-snap-align: start;
}

/* @media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  } */

@media screen and (max-width: 800px) { 
  #video-view {
    display: none;
  }
  #mobile-video-view {
    display: inline-block;
  }
}
.sites{
width:60vw;
min-width:450px;
max-width: 1200px;
height:100%;
margin-right: -9vw;
margin-left: -9vw;
border-radius: 15px;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.272);
object-fit: cover;
object-position: top;
margin-top: 20px;
z-index: 1;
transition: .5s ease;
}
#site-1{
  transform: scale(.75);
  z-index: 0;
}
#site-3{
  transform: scale(.75);
  z-index: 0;
}
#projects-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 1;
}
#scrollgif{
  width: 100px;
}
#img-container{
display: flex;
justify-content: center;
width: 100%;
position: absolute;
bottom:-100px;
}
